@model List<VistaDepartamento>


<h1>Paginación en grupo</h1>

<hr />
    @{
        int numeroRegistros = (int)ViewData["NUMEROREGISTROS"];
        int numPagina = 1; 
    }
    @for (int i = 1; i <= numeroRegistros; i += 2)
        {
            <a asp-controler="Paginacion" asp-action="GrupoVistaDepartamentos" asp-route-posicion="@i"> Página @numPagina</a>
            numPagina = numPagina + 1;
        }
<hr />

<table class="table table-warning">
    <thead>
        <tr>
            <th>Posicion</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach(VistaDepartamento dept in Model)
        {
            <tr>
                <td>@dept.Posicion</td>
                <td>@dept.IdDepartamento</td>
                <td>@dept.Nombre</td>
                <td>@dept.Localidad</td>
            </tr>
        }
    </tbody>
</table>